td,th{
    border:solid 2px #000000;
    padding:1px 10px;
    max-width: 25%;
}
table{
    margin: 20px;
    border-collapse:collapse;
    padding: 10px;
}

body{
    display: flex;
}


.box1 .box-title { /*【span】タイトル部分*/
    position: absolute; /*必須*/
    top: 0; /*囲み枠の上にぴったりくっつく*/
    left: 0; /*囲み枠の左にぴったりくっつく*/
    line-height: 32px; /*行の高さ*/  
    padding: 0 5px; /*左右の余白*/
    border-radius: 0px 0 0px 0; /*角丸（左上12px 右上0 右下12px 左下0）*/
    font-weight: bold; /*フォント太字*/
}
.box1 { /*【div】囲み枠部分*/
    position: relative; /*必須*/
    margin: 0px 0px; /*外側の余白*/
    padding: 32px 15px 5px; /*内側の余白*/
    border: 2px solid rgb(0, 0, 0); /*枠線*/
    border-radius: 15px 15px 15px 15px; /*角丸（左上15px 右上0 右下15px 左下0）*/
    width: fit-content;
    user-select: none;
}

#menu{
    height: auto;
}
